@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Philosopher:wght@400;700&family=Song+Myung&display=swap');

/*
font-family: 'Anton', sans-serif;
font-family: 'Philosopher', sans-serif;
*/
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
html, body, #wrap{
    width: 100%;
    height: 128%;
    scroll-behavior: smooth;
} /*document size*/
body{
    background-color: #0d0169;
}
#wrap > header{
    width: 100%;
    height: 3%;
    font-family: 'Philosopher', sans-serif;
} /*header css*/
header .logo{
    float: left;
    width: auto;
    height: 100%;
}
.logo a{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    font-size: 40px;
    color: #999;
    line-height: 140%;
} /*logo css, left side of header*/
header .menu{
    float: right;
    width: 200px;
    height: 100%;
}
.menu > ul{
    float: right;
    width: 90px;
    height: 100%;
}
.menu > ul > li{
    position: relative;
    height: 50%;
    padding-right: 5%;
    font-size: 16px;
    color: #999;
    text-align: right;
    line-height: 150%;
    cursor: pointer;
    transition: 0.5s;
}
.menu > ul > li:hover{
    color: aliceblue;
} /*main menu css, right side of header*/
.submenu{
    position: absolute;
    top: 0%;
    left: -100px;
    width: 100px;
    height: auto;
    display: none;
    background-color: rgba(250, 250, 250, 0.4);
}
.submenu li{
    height: 50%;
    text-align: center;
    line-height: 150%;
}
.submenu li:hover{
    background-color: rgba(250, 250, 250, 0.5);
} /*submenu css, hide and show the lists when cursor is on the elements of main menu*/
main{
    position: relative;
    width: 100%;
    height: 97%;
} /*main size*/
.intro{
    width: 100%;
    height: 50%;
    position: relative;
}
.banner{
    position: absolute;
    top: 2%;
    width: 100%;
    height: 90%;
}
.mainText{
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: yellow;
    font-size: 130px;
    opacity: 0;
    transition: 3s;
    z-index: 1;
}
.fir{
    text-align: left;
    top: 8%;
    left: 2%;
}
.sec{
    text-align: right;
    bottom: 8%;
    right: 2%;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner a{
    width: 75%;
    transition: 1s;
}
.banner > img{
    width: 100%;
}
.banner > a:hover{
    transform: scale(103%);
} /*banner area css, main's first section*/
#subPage{
    width: 100%;
    height: 50%;   
}
.sub_title{
    width: 50%;
    height: 13%;
    margin: 0 auto;
    font-family: 'Philosopher', sans-serif;
    font-size: 3vw;
    text-align: center;
    line-height: 170%;
    color: #0d0169;
} /*contents area css, main's second section*/
/*추가 예정*/
#subPage .sns{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sns ul{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sns ul li{
    float: left;
}
.sns i{
    font-size: 2vw;
} /*(sub)sns css*/

/*media query for web*/
@media screen and (max-width : 980px) and (min-width : 701px) {
    .banner a{
        width: 90%;
    }
}
@media screen and (max-width : 700px) {
    #wrap > header{
        width: 700px;
    }
    header .logo{
        width: 200px;
    }
    .logo a{
        font-size: 32px;
        line-height: 140%;
    }
    .banner{
        width: 700px;
    }
    .banner a{
        width: 630px;
    }
}

/*media query for mobile*/
