@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Philosopher:wght@400;700&family=Song+Myung&display=swap');

/*
font-family: 'Anton', sans-serif;
font-family: 'Philosopher', sans-serif;
*/
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
html, body, #wrap{
    width: 100%;
    height: 100%;
}
body{
    background-color: #002a54;
}
#wrap > header{
    width: 100%;
    height: 7%;
    /* background-color: aliceblue; */
    font-family: 'Philosopher', sans-serif;
}
header .logo{
    float: left;
    width: 250px;
    height: 100%;
    /* background-color: midnightblue; */
}
.logo a{
    width: 100%;
    height: 100%;
    padding-left: 2%;
    font-size: 46px;
}
header .menu{
    float: right;
    width: 200px;
    height: 100%;
    /* background-color: cadetblue; */
}
.menu > ul{
    float: right;
    width: 90px;
    height: 100%;
}
.menu > ul > li{
    position: relative;
    height: 50%;
    /* background-color: azure; */
    padding-right: 5%;
    font-size: 16px;
    text-align: right;
    line-height: 150%;
    cursor: pointer;
    transition: 0.5s;
}
.menu > ul > li:hover{
    color: aliceblue;
}
.submenu{
    position: absolute;
    top: 0%;
    left: -100px;
    width: 100px;
    height: auto;
    display: none;
    background-color: rgba(250, 250, 250, 0.4);
}
.submenu li{
    height: 50%;
    text-align: center;
    line-height: 150%;
    /* background-color: aqua; */
}
main{
    position: relative;
    width: 100%;
    height: 93%;
}
.banner{
    position: absolute;
    top: 8%;
    width: 100%;
    height: 80%;
    /* background-color: aliceblue; */
}
.mainText{
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-size: 130px;
    opacity: 0;
    transition: 3s;
}
.fir{
    left: 0%;
    top: 0%;
}
.sec{
    right: 0%;
    bottom: 0%;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.banner img{
    width: 75%;
}

@media screen and (max-width : 980px) and (min-width : 701px) {
    .banner img{
        width: 90%;
    }
}
@media screen and (max-width : 700px) {
    #wrap > header{
        width: 700px;
    }
    header .logo{
        width: 200px;
    }
    .logo a{
        font-size: 38px;
        line-height: 140%;
    }
    .banner{
        width: 700px;
    }
    .banner img{
        width: 630px;
    }
    
}
